alias vi='vim -c ":cd %:p:h"'
alias vime='vim -u ~/.vimerc -x'

alias rm='nocorrect rm'
alias mv='nocorrect mv'
alias cp='nocorrect cp'
alias mkdir='nocorrect mkdir'
alias chromium='chromium --enable-plugins --memory-model=low --user-agent="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/535.7 (KHTML, like Gecko) Chrome/16.0.912.75 Safari/535.7" 2&> /dev/null &'
alias firefox='firefox 2&> /dev/null &'
alias g=git
alias y=yaourt
alias mpc='ncmpc -c -m -S'

alias pianobar='/home/tj/system/pianobar'
alias ls='/usr/bin/vendor_perl/ls++'
alias record='ffmpeg -ar 44100 -ac 1 -f alsa -i pulse -f s161e -f x11grab -r 30 -s 1280x720 -i :0+158,93 -vcodec flashsv screengrab.flv'

alias msfconsole='/opt/metasploit/msfconsole'
alias msfpayload='/opt/metasploit/msfpayload'
alias msfencode='/opt/metasploit/msfencode'
alias msfvenom='/opt/metasploit/msfvenom'
