[alias]
  st  = status -sb
  co  = checkout
  mrg = merge --no-ff --no-commit
  lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

[status]
  submodulesummary = true

[user]
  name  = TJ Koblentz
  email = tj@brightroll.com
  # SigningKey = _@tjk.me

[diff]
  renames = true

[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore

[push]
  default = current

[pull]
  rebase = true

[branch "master"]
  remote = origin
  merge = refs/heads/master

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local   = yellow
  remote  = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old  = red bold
  new  = green bold

[color "status"]
  added     = yellow
  changed   = green
  untracked = cyan
