/* gruvbox */
/* @define-color fg #ebdbb2;*/
/* tokyo */
@define-color bg #24283b;
@define-color fg #c0caf5; 
/*@define-color fg white;*/

* {
  font-family: FiraCodeNerdFont;
  font-size: 16px;
}

window#waybar {
  background: @bg;
  color: @fg;
}
window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    color: @fg;
    border: none;
    border-radius: 0;
}
#workspaces button.focused {
    background: #3c3836;
}
#workspaces button.urgent {
  background: #d79921;
}

#mode, #clock, #battery {
  padding: 0 10px;
}
#idle_inhibitor {
  padding-right: 20px;
}

#battery {
}

#battery.warning:not(.charging) {
  background: #d79921;
}

#pulseaudio-slider slider {
}
#pulseaudio-slider trough {
  min-width: 100px;
  background: black;
}
#pulseaudio-slider highlight {
  background: #83a598;
}
