[Unit]
Description=Homebrew generated unit for mysql

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/home/linuxbrew/.linuxbrew/opt/mysql/bin/mysqld_safe --datadir=/home/linuxbrew/.linuxbrew/var/mysql
Restart=always
WorkingDirectory=/home/linuxbrew/.linuxbrew/var/mysql